@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

:root{
    --header_colour: #121417;
    --lighter-grey: #1c1d21;
    --box-grey: #3a3c45;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: white;
}

body{
    background-color: var(--lighter-grey);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

/* Scroll intersection animations */
.hidden1{
    opacity: 0;
    filter: blur(2px);
    transform: translateY(-100%);
    transition: all 1.5s;
}

.hidden2{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);
}

/* Crane class animations */
.crane:nth-child(2){
    transition-delay: 200ms;
}

.crane:nth-child(3){
    transition-delay: 400ms;
}

.crane:nth-child(4){
    transition-delay: 500ms;
}

.crane:nth-child(5){
    transition-delay: 600ms;
}

/* Unity class animations */
.Unity:nth-child(2){
    transition-delay: 200ms;
}

.Unity:nth-child(3){
    transition-delay: 400ms;
}

.Unity:nth-child(4){
    transition-delay: 500ms;
}

.Unity:nth-child(5){
    transition-delay: 600ms;
}

/* Robotics class animations */
.Robotics:nth-child(2){
    transition-delay: 200ms;
}

.Robotics:nth-child(3){
    transition-delay: 400ms;
}

.Robotics:nth-child(4){
    transition-delay: 500ms;
}

.Robotics:nth-child(5){
    transition-delay: 600ms;
}

/* This Website class animation */
.Website--Content:nth-child(2){
    transition-delay: 200ms;
}

.Website--Content:nth-child(3){
    transition-delay: 400ms;
}

/* About class animation */
.About--Container:nth-child(2){
    transition-delay: 100ms;
}

.About--Container:nth-child(3){
    transition-delay: 200ms;
}

.About--Container:nth-child(4){
    transition-delay: 300ms;
}




/* Navigation Bar */
.Navigation--Bar{
    display: flex;
    align-items: baseline;
    background-color:var(--header_colour);
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
    
}

.Navigation--Bar h1{
    background-color: var(--header_colour);
    justify-content: left;
    padding: 3.0rem 5%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    letter-spacing: 0.15rem;
    font-size: 2.0rem;
}

.Navigation--Tabs{
    background-color: var(--header_colour);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Navigation--Tabs a, button{
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    background-color: var(--header_colour);
    font-size: 2.0rem;
    color:white;
}

.Navigation--Tabs a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

.Navigation--Tabs a:hover:after{
    width: 100%;
}

.Navigation--Tabs a:hover{
    color: white;
}

/* Navigation media queries */
@media (max-width: 700px){
    .Navigation--Tabs a{
        font-size: 1.3rem;
    }
    .Navigation--Bar h1{
        font-size: 1.3rem;
    }

}

/* Welcome Block */

.Welcome--Block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--lighter-grey);
    position: relative;
    z-index: -1;

}

.Welcome--Block .container{
    display: flex;
    flex-direction: column;
}

.Welcome--Block h1{
    background-color: transparent;
    font-size: 7vw;
    font-family: "Poppins", sans-serif;
    display: flex;
    line-height: 20vh;
}

.Welcome--Block #Portfolio{
    background-image: linear-gradient(90deg, rgba(207,6,177,1) 0%, rgba(149,77,213,1) 21%, 
    rgba(32,79,210,1) 40%, rgba(59,108,217,1) 55%, rgba(2,119,215,1) 63%, rgba(1,202,224,1) 83%, 
    rgba(153,238,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.Welcome--Block img{
    width: 50vw;
    background-color: transparent;
}

/* Welcome media queries */
@media (max-width: 700px){
    .Welcome--Block {
        flex-direction: column;
    }

    .Welcome--Block h1{
        line-height: 10rem;
        font-size: 7rem;
    }

    .Welcome--Block img{
        margin: 5% 5% 5% 5%;
        width: 90vw;
    }
}

/* Projects Section */

.Projects{
    font-family: "Poppins", sans-serif;
    position: relative;
}
.Projects h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    letter-spacing: 0.6rem;
    display: flex;
    padding-top: 10rem;
    font-size: 7rem;
    padding-left: 2%;
}

.Project--Examples h2{
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 3rem;
}

.Project--Examples{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;

}

.Project--Examples p{
    font-size: 2rem;
    line-height: 2em;
}

.Arduino--Claw{
    display: flex;
    align-items: center;
}

.Technologies1{
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    gap: 0 0.5rem;
    width: 40vw;
}

.Technologies1 p{
    background-color: var(--box-grey);
    border: 3px solid black;
    color: white;
    font-weight: 700;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 1.5vw;
}


.Arduino--Claw p{
    width: 40%;
}

.Arduino--Claw img{
    padding: 0px 0px 0 100px;
    width: 35%;
    height: 80%;
}

.Arduino--Claw #claw--demo{
    padding: 0px 30px 0px 10px;
}

/* Arduino Claw Media Queries */
@media (max-width: 700px){
    .Arduino--Claw{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Arduino--Claw p {
        width: 90vw;
        font-size: 1.5rem;
        margin: 2rem 0 2rem 0;
    }
    .Arduino--Claw img{
        padding: 0 0 2% 0;
        width: 90vw;

    }
    .Arduino--Claw #claw--demo{
        padding: 0 0 0 0;
        width: 90vw;
    }

    .Technologies1{
        width: 90vw;
    }
    
    .Technologies1 p{
        font-size: 3.5vw;
    }

}


.Unity--Game {
    display: flex;
    align-items: center;
}

.Technologies2{
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    gap: 0 0.5rem;
}

.Technologies2 p{
    background-color: var(--box-grey);
    border: 3px solid black;
    color: white;
    font-weight: 700;
    padding: 0.3rem 1rem 0.3rem 1rem;
}


.Unity--text{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.logo--images{
    display: flex;
    align-items: center;

}

.Unity--Game #C--sharp {
    width: 25vw;
    padding: 2rem 2rem 2rem 2rem;
}

.Unity--Game #Unity{
    width: 12vw;
    padding: 2rem 2rem 2rem 2rem;
}

/* Unity Media Queries */
@media (max-width: 700px){
    .Unity--Game{
        display: flex;
        flex-direction: column;
    }
    .Unity--Game p {
        width: 100%;
        font-size: 1.5rem;
    }
    .Unity--Game img{
        padding: 0 0 0 0;
    }

    .Unity--text{
        width: 90%;
    }

    .Unity--text p{
        margin: 2rem 0 2rem 0;
    }

    .Technologies2{
        width: 90vw;
    }
    
    .Technologies2 p{
        font-size: 3.5vw;
    }

    .Unity--Game #C--sharp {
        padding: 5% 0 5% 0;
        width: 50vw
    }
    .Unity--Game #Unity{
        width: 30vw;
    }
}

.First--Robotics{
    display: flex;
    align-items: center;
}

.Technologies3{
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    gap: 0 0.5rem;
}

.Technologies3 p{
    background-color: var(--box-grey);
    border: 3px solid black;
    color: white;
    font-weight: 700;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.First--Robotics p{
    width: 40%;
}

.First--Robotics img{
    width: 30%;
    height: 100%;
    padding: 0px 10px 30px 10px;
}

/* Robotics Media Queries */
@media (max-width: 700px){
    .First--Robotics{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .First--Robotics p {
        width: 90vw;
        font-size: 1.5rem;
        margin: 2rem 0 2rem 0;
    }
    .First--Robotics img{
        padding: 0 0 2% 0;
        width: 90vw;
    }

    .Technologies3{
        width: 90vw;
    }
    
    .Technologies3 p{
        font-size: 3vw;
    }
}


/* This Website section */

.This--Website {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Website--Content{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.This--Website h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    letter-spacing: 0.6rem;
    display: flex;
    padding-top: 10rem;
    font-size: 7rem;
    padding-left: 2%;
}

.Website--Container{
    width: 40vw;
    padding-left: 2%;
}

.Website--Container #website--technology{
    font-size: 2rem;
    padding: 0.5rem 0 2.5rem 0;
    line-height: 2.5em;
    font-weight: 700;
}

.Website--Container #website--description{
    font-size: 2rem;
    padding: 2rem 0px 1.5rem 2%;
    line-height: 2.5em;
}

.website--buttons{
    max-width: 55%;
    display: flex;
    justify-content: space-between;
}

.Website--Container button{
    font-weight: 750;
}

.code--snippets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding: 0 2% 0 2rem;
}

#html{
    width: 60%;
    padding-right: 2rem;
}
#css{
    width: 40%;
}

/* This Website Media Queries */

@media (max-width: 700px){
    .Website--Content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Website--Container{
        width: 90vw;
        font-size: 1rem;
    }
    .code--snippets{
        padding: 2rem 0 0 0;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    
    .Website--Container #website--description{
        font-size: 1.5rem;
    }

    .Website--Container #website--technology{
        font-size: 1.8rem;
    }

    .code--snippets img{
        width: 90vw;
    }
    #html{
        width: 90%;
        padding: 0 0 2rem 0;
    }
    #css{
        width: 90%;
    }
}


/* Button Settings */

button {
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
    margin: 0;
    min-height: 3.1em;
    min-width: 0;
    max-width: 20rem;
    outline: none;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin: 3vw 3vw 3vw 3vw;
   }

button:disabled {
    pointer-events: none;
}
   
button:hover {
    color: #fff;
    background-color: var(--header_colour);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Examples Media Queries */
@media (max-width: 700px){
    .Project--Examples{
        margin-right: 5%;
    }

    button{
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
    

/* About Me Section */
.About--Me{
    display: flex;
    flex-direction: row;
}

.About--Container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2%;
    font-family: "Poppins", sans-serif;
}

.About--Content{
    display: flex;
    flex-direction: row;
}

.About--Container h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    letter-spacing: 0.6rem;
    display: flex;
    padding-top: 10rem;
    font-size: 7rem;

}

.About--Container h2{
    font-size: 3rem;
    padding: 2rem 0 0 2%;
}

.About--text p{
    font-size: 2rem;
    padding: 2rem 0px 1.5rem 2rem;
    line-height: 2.5em;
}

.Skill--section{
    display: flex;
    justify-content: center;
    gap: 0 3rem;
}

.Skill--section h3{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.Skill--section p{
    font-size: 2rem;
    line-height: 2em;
    font-weight: 600;
}

.Language--skills{
    border: 3px solid black;
    padding: 1.5rem 5rem 1.5rem 5rem;
    background-color: var(--box-grey);
}

.Software--skills{
    border: 3px solid black;
    padding: 1.5rem 5rem 1.5rem 5rem;
    background-color: var(--box-grey);
}

#PC--Build {
    width: 40%;
    height: fit-content;
    margin: 20rem 2% 10rem 2%;
    
}

.email{
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 0 2rem 2%;
}

/* About Me Media Queries */
@media (max-width: 700px){
    .About--Content {
        flex-direction: column;
    }
    
    .About--Container{
        width: 90vw;
    }

    .About--Container h2{
        font-size: 2rem;
    }
    .About--text p{
        font-size: 1.5rem;
    }

    .Skill--section{
        justify-content: center;
        display: flex;
        width: 100vw;
        padding: 0 0 0 0;
        gap: 0 2em;
    }

    .Language--skills{
        padding: 1.5rem 5rem 1.5rem 5rem;
    }

    .Software--skills{
        padding: 1.5rem 5rem 1.5rem 5rem;
    }

    .Skill--section h3{
        font-size: 1.8rem;
    }

    .Skill--section p{
        font-size: 1.5rem;
    }

    #PC--Build{
        width: 90vw;
        margin: 2rem 0 0 2rem;
    }

}